<section class="bg-light pt-5" style="min-height: 400px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-info">
            <h4 class="text-light">Welcome to Cepik</h4>
          </div>
          <div class="card-body bg-warning">
            <h5 class="card-title">Lorem ipsum</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Proin quis euismod sem, ut porta lorem.
              Nunc ac massa nec leo porttitor elementum vel at urna.
              Ut rutrum, leo luctus facilisis consectetur, lacus est egestas nisl,
              semper condimentum ex leo eu sapien.
              Fusce sed velit at erat posuere porta in pulvinar ante.
              Donec ipsum sapien, venenatis vel tortor vel, feugiat facilisis mi.
              Nulla quis magna congue, laoreet ante vitae, maximus ipsum.
              Pellentesque pulvinar molestie odio, lobortis feugiat ante finibus id.
              Cras scelerisque libero eu nulla rhoncus pharetra.
              Vivamus felis leo, aliquam nec turpis vel, sollicitudin auctor sem.
              Cras in libero interdum, volutpat velit quis, convallis risus.
              Mauris neque enim, eleifend vitae ante cursus, fermentum scelerisque sem.
              Nunc lectus eros, ullamcorper at egestas quis, accumsan quis mi.
              Ut eleifend tristique arcu, a venenatis tellus porta eu.
              Cras lobortis tincidunt erat vel luctus.
            <p>
            <%= link_to 'Show car list', cars_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
