<table>
  <thead>
    <td>Name</td>
    <td>Colour</td>
    <td>Action</td>
  </thead>
  <tbody>
    <td><%= @car.name %></td>
    <td><%= @car.colour %></td>
    <td><%= link_to 'Back', :back %> | <%= link_to 'delete', car_path(@car), method: :delete %></td>
  </tbody>
</table>
